# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
#import packages
import pandas as pd

In [11]:
#read file and assign to variable
sd_crime = pd.read_csv('https://raw.githubusercontent.com/shalinsarmiento/data/main/crime-actuals1950-2022.csv')
sj_crime = pd.read_csv('https://raw.githubusercontent.com/shalinsarmiento/data/main/sj_data%20-%20Sheet1.csv')
la_crime = pd.read_csv('Crime_Data_from_2020_to_Present (1).csv')
la_crime

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717695,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
717696,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
717697,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
717698,232009355,05/01/2023 12:00:00 AM,05/01/2023 12:00:00 AM,1330,20,Olympic,2025,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,300 S ALEXANDRIA AV,NaN,34.0690,-118.2979
717699,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

# Data Cleaning

Describe your data cleaning steps here.

In [3]:
sd_crime

,Unnamed: 0,Unnamed: 1,Unnamed: 2,SAN DIEGO HISTORICAL CRIME ACTUALS,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,1950 - 2022,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Aggr.,Violent,NaN,NaN,Vehicle,Property,Index
2,Year,Population,Murder,Rape,Robbery,Assault,Crime,Burglary,Larceny,Theft,Crime,Total
3,2022,"1,462,018",51,496,"1,292","4,204","6,043","3,239","15,390","6,325","24,954","30,997"
4,2021,"1,411,034",57,571,"1,091","4,156","5,875","3,393","18,075","6,165","27,633","33,508"
...,...,...,...,...,...,...,...,...,...,...,...,...
74,1951,"396,000",11,0,84,65,160,790,"4,336","1,130","6,256","6,416"
75,1950,"334,387",10,0,84,65,159,790,"3,603",774,"5,167","5,326"
76,NaN,NaN,"* Effective in 2015, reported rapes are compil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Crime Analysis,NaN,"Prior to 1980, attempted rapes were not includ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1/31/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop rows not containing data
sd_crime = sd_crime.drop(labels = [0,1,2,76,77,78], axis = 0)

In [5]:
#change column names and reset index
sd_crime.columns = ['year', 'population', 'murder', 'rape', 'robbery', 'aggravated assault', 'violent crime', 'burglary', 'larceny', 'vehicle theft', 'property crime', 'index total']
sd_crime = sd_crime.reset_index(drop = True)
sd_crime

,year,population,murder,rape,robbery,aggravated assault,violent crime,burglary,larceny,vehicle theft,property crime,index total
0,2022,"1,462,018",51,496,"1,292","4,204","6,043","3,239","15,390","6,325","24,954","30,997"
1,2021,"1,411,034",57,571,"1,091","4,156","5,875","3,393","18,075","6,165","27,633","33,508"
2,2020,"1,430,489",56,485,"1,207","3,556","5,304","3,324","16,044","4,953","24,321","29,625"
3,2019,"1,420,572",50,561,"1,346","3,258","5,215","3,543","18,426","5,172","27,141","32,356"
4,2018,"1,419,845",35,605,"1,439","3,281","5,360","3,752","18,482","5,182","27,416","32,776"
...,...,...,...,...,...,...,...,...,...,...,...,...
68,1954,"451,950",9,0,239,155,403,"1,398","5,270","1,026","7,694","8,097"
69,1953,"445,000",7,0,273,140,420,"1,453","5,034","1,264","7,751","8,171"
70,1952,"434,294",19,0,207,139,365,"1,199","5,047","1,289","7,535","7,900"
71,1951,"396,000",11,0,84,65,160,790,"4,336","1,130","6,256","6,416"
72,1950,"334,387",10,0,84,65,159,790,"3,603",774,"5,167","5,326"

In [6]:
sj_crime

,VIOLENT CRIME,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,PROPERTY CRIME,Unnamed: 8,Unnamed: 9,Unnamed: 10,TOTAL INDEX CRIMES
0,YEAR,POPULATION,HOMICIDE,RAPE,ROBBERY,AGGRAVATED\nASSAULT,TOTAL,BURGLARY,LARCENY,VEHICLE\nTHEFT,TOTAL,NaN
1,2013,"984,299",38,270,"1,095","1,812","3,215","5,173","12,411","7,926","25,510","28,725"
2,2014,"1,000,536",32,306,"1,072","1,832","3,242","5,167","11,850","7,560","24,577","27,819"
3,2015,"1,016,479",30,375,"1,140","1,855","3,400","4,896","13,138","7,001","25,035","28,435"
4,2016,"1,042,094",47,451,"1,214","2,175","3,887","4,260","12,786","7,703","24,749","28,636"
5,2017,"1,046,079",32,571,"1,376","2,209","4,188",3.926,"13,329","8,068","25,323","29,511"
6,2018,"1,051,316",28,615,"1,593","2,208","4,444","4,539","13,510","7,704","25,753","30,197"
7,2019,"1,043,058",34*,671,"1,339","2,517","4,561","4,114","14,924","6,126","25,164","29,725"
8,2020,"1,049,187",42*,566,"1,185","2,584","4,375","4,045","12,737","7,065","23,847","28,222"
9,2021,"1,029,782",31,730,"1,284","2,787","4,832","3,812","12,013","6,419","22,244","27,076"
10,2022,"976,482",35,894,"1,264","2,853","5,046","3,884","15,010","6,469","25,363","30,409"

In [7]:
#drop row with labels and rename columns to the labels
sj_crime = sj_crime.drop(labels = 0, axis = 0)
sj_crime.columns = ['year', 'population','homicide', 'rape', 'robbery', 'aggravated assault','total violent crime', 'burglary', 'larceny', 'vehicle theft', 
                   'total property crime', 'total index crimes']

#reset index
sj_crime = sj_crime.reset_index(drop=True)

#remove asterisk
sj_crime.at[6,'homicide'] = 34
sj_crime.at[7,'homicide'] = 42
sj_crime

,year,population,homicide,rape,robbery,aggravated assault,total violent crime,burglary,larceny,vehicle theft,total property crime,total index crimes
0,2013,"984,299",38,270,"1,095","1,812","3,215","5,173","12,411","7,926","25,510","28,725"
1,2014,"1,000,536",32,306,"1,072","1,832","3,242","5,167","11,850","7,560","24,577","27,819"
2,2015,"1,016,479",30,375,"1,140","1,855","3,400","4,896","13,138","7,001","25,035","28,435"
3,2016,"1,042,094",47,451,"1,214","2,175","3,887","4,260","12,786","7,703","24,749","28,636"
4,2017,"1,046,079",32,571,"1,376","2,209","4,188",3.926,"13,329","8,068","25,323","29,511"
5,2018,"1,051,316",28,615,"1,593","2,208","4,444","4,539","13,510","7,704","25,753","30,197"
6,2019,"1,043,058",34,671,"1,339","2,517","4,561","4,114","14,924","6,126","25,164","29,725"
7,2020,"1,049,187",42,566,"1,185","2,584","4,375","4,045","12,737","7,065","23,847","28,222"
8,2021,"1,029,782",31,730,"1,284","2,787","4,832","3,812","12,013","6,419","22,244","27,076"
9,2022,"976,482",35,894,"1,264","2,853","5,046","3,884","15,010","6,469","25,363","30,409"

In [12]:
la_crime

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717695,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
717696,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
717697,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
717698,232009355,05/01/2023 12:00:00 AM,05/01/2023 12:00:00 AM,1330,20,Olympic,2025,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,300 S ALEXANDRIA AV,NaN,34.0690,-118.2979
717699,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [18]:
la_crime = la_crime.rename(columns = {"Crm Cd Desc": 'crm'})

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,crm,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717695,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
717696,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
717697,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
717698,232009355,05/01/2023 12:00:00 AM,05/01/2023 12:00:00 AM,1330,20,Olympic,2025,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,300 S ALEXANDRIA AV,NaN,34.0690,-118.2979
717699,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

VEHICLE - STOLEN                                           76907
BATTERY - SIMPLE ASSAULT                                   56672
THEFT OF IDENTITY                                          46698
BURGLARY FROM VEHICLE                                      44632
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    44085
                                                           ...
PICKPOCKET, ATTEMPT                                            3
GRAND THEFT / AUTO REPAIR                                      2
FAILURE TO DISPERSE                                            2
DISHONEST EMPLOYEE ATTEMPTED THEFT                             2
INCITING A RIOT                                                1
Name: crm, Length: 138, dtype: int64